.edit-btn{
    background-color: black;
    color: white;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: black !important;
    width:45%;
    transition: 0.3s !important;

}


.dlt-btn{
    /* text-align: center; */
    background-color: red;
    color: white;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: red !important;
    margin-left: 10%;
    width: 45%;
    transition: 0.3s !important;

}

.input-form{
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
}

.create-btn{
    background-color: #1f1f1f;
    color: white;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: black !important;
    transition: 0.3s !important;
    width: 100%;
    margin-bottom: 20px;
}
